html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: var(--background-color);

	font-family: "Noto Sans KR", sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.visualyHidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}

:root {
	--black-color: #3B434E;
	--gray-light-color: #EBEBEB;
	--gray-color: #A4A4A4;
	--gray-dark-color: #6C7077;
	--white-color: white;
	--primary-color: #7351F5;
	--primary-dark-color: #6344DF;
	--red-light-color: #FEA291;
	--red-color: #FC836D;
	--green-color: #007B48;
	--green-light-color: #C8F8E4;
	--font-family: "Noto Sans KR", sans-serif;
	--background-color: #F4F4F5;
	--text-secondary-color: var(--gray-color);
	--border-radius: 5px;
}

.wrapper {
	width: 880px;
	margin: 0 auto;

	/* text-align: center; */
}

.login-status {
	position: fixed;
	top: 10px;
	right: 10px;

	width: 120px;

	color: rgb(109 109 109);

	font-size: 16px;
}

input {
	width: 100%;
	padding: 10px;

	color: var(--black-color);
	border: 1px solid rgb(202 202 202);
	border-radius: 3px;
	outline-color: var(--primary-color);
	background: var(--background-color);

	font-family: var(--font-family);

	font-size: 18px;
	line-height: 22px;
}

input::placeholder {
	color: var(--gray-color);
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: 0;

	color: var(--red-color);

	font-size: 14px;
}

.inputWrapper {
	position: relative;
}

.inputLabel {
	margin-top: 1rem;

	color: gray;
}
